<footer>
  <div class="container">
    <%#*<p>Put together in less than five minutes by <a href="http://www.martinbean.co.uk/" rel="author">Martin Bean</a>. Uses <a href="http://twitter.github.com/bootstrap/" rel="external">Twitter Bootstrap</a> and <a href="http://ryanfait.com/sticky-footer/" rel="external">Ryan Fait&rsquo;s Sticky Footer</a>.</p>%>
    
  </div>
  <div class="boy_left">
    <a href="#"><div class="facebook"></div></a>
  </div>
  <div class="boy_right">
    <a href="#"><div class="twitter"></div></a>
  </div>
</footer>